target
.idea
.vscode
.factorypath
.bower.json
*.log
*.log.1
*.swp
*.sublime-project
*.sublime-workspace
*.classpath
*.project
*.prefs
*.iml
.settings
logs
.tmp
node_tmp
tmp
~$*.*
.~lock.*
*.lck
.DS_Store
.build
build
.todo